<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies Notes</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <header>
        <div class="header-content">
            <h1>Davi Pereira's Blockbuster</h1>
            <h2>Esse website foi criado para listar os filmes que tenho visto, e uma pequena resenha. </h2>                     
            <a href="/add-movie"><button>Adicionar Filme</button></a>
        </div>
        <div class="header-img">
            <img src="/assets/woman.png" alt="Balde de pipoca">
        </div>
    </header>
    <main>
        <div class="movie-container">
            <% if (moviesData.length > 0) { %>
                <% moviesData.forEach(function(movie) { %>
                    <div class="movie-item">
                        <img class="movie-poster" src="<%= movie.posterUrl %>" alt="<%= movie.title %> Poster">
                        <div class="movie-info">
                            <h3><%= movie.title %></h3>
                            <p><%= movie.description %></p>
                            <p>⭐️ Avaliação: <%= movie.rating %></p>

                            <div class="buttons">
                                <button onclick="openEditForm('<%= movie.id %>')">Editar</button>
                                <form action="/delete/<%= movie.id %>" method="post" onsubmit="return confirmDelete()">
                                    <button type="submit">Excluir</button>
                                </form>
                            </div>

                            <div id="edit-modal-<%= movie.id %>" class="modal">
                                <div class="modal-content">
                                    <span class="close" onclick="closeEditForm('<%= movie.id %>')">&times;</span>
                                    <p class="modal-title"><%= movie.title %></p>
                                    <form id="form-content" action="/edit/<%= movie.id %>" method="post">
                                        <label for="description">Descrição:</label>
                                        <textarea name="description" required><%= movie.description %></textarea>
                                        <label for="rating">Avaliação:</label>
                                        <input type="text" name="rating" value="<%= movie.rating %>" required>
                                        <button type="submit">Salvar</button>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                <% }) %>
            <% } else { %>
                <p>Nenhum filme encontrado.</p>
            <% } %>
        </div>
    </main>
    <footer> © 2024 Davi Pereira. Todos os direitos reservados. </footer>
</body>
<script>
   function openEditForm(movieId) {
    const modal = document.getElementById(`edit-modal-${movieId}`);
    modal.style.display = "block";
    }

    function closeEditForm(movieId) {
        const modal = document.getElementById(`edit-modal-${movieId}`);
        modal.style.display = "none";
        }

    window.onclick = function(event) {
        const modals = document.querySelectorAll('.modal');
        modals.forEach((modal) => {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        });
    }
    function confirmDelete() {
        return confirm("Tem certeza que deseja excluir este filme?");
    }
</script>
</html>